.wrapper {
  // height: 100vh;
  // width: 100vw;
  background: #003764;
}

.card {
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 15px #00000010;
  overflow-y: scroll;
  background: rgb(200,229,223);
background: #ffffff;
}
.welcomeback {
  text-align: center;
  font: normal normal medium 35px/43px Helvetica Neue;
  letter-spacing: 0px;
  color: #003764;
  font-weight: 500;
  opacity: 1;
}

input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #003764;
  border-radius: 60px;
  height: 2.7rem;
}
.input:focus {
  outline: 0 !important;
}

.password{
  border-right: none !important;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #003764;
  opacity: 1; /* Firefox */
  padding-left: 10px !important;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #003764;
  padding-left: 10px !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: #003764;
  padding-left: 10px !important;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-text {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  background: white;
  border: 1px solid #003764;
  border-left: none;
  cursor: pointer;
}

.submit-btn {
  background: rgb(35,80,117);
  background: linear-gradient(141deg, rgba(35,80,117,1) 0%, rgba(35,80,117,1) 100%);
  color: white;
  border-radius: 3rem;
}

a {
  color: #003764;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
*:focus {
  outline: none !important;
}
