<div class="wrapper vh-100 d-flex justify-content-center overflow-auto ">
    <app-alert></app-alert>
    <div class="ms-auto me-auto col-11 col-sm-6 col-md-4 mt-auto mb-auto">
        <div class="card col-12 pb-4">
            <div class="d-flex justify-content-center pt-4 align-items-center col-12">
                <div class="col-12 d-flex justify-content-center">
                    <img src="assets/images/main-logo.png" alt="" class="pointer" [routerLink]="['/login']"
                        height="100">
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <h4 class="welcomeback text-primary">Forgot Password</h4>
            </div>
            <form class="m-5 mb-0 mt-3" [formGroup]="dataForm" (ngSubmit)="onForgotPasswordSubmit()">
                <div class="mb-4">
                    <!-- <label for="exampleInputEmail1" class="form-label text-disabled ">Email</label> -->
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                        aria-describedby="emailHelp" formControlName="email"
                        [ngClass]="{'is-valid': dataForm.get('email')?.touched && dataForm.get('email')?.valid, 'is-invalid': dataForm.get('email')?.touched && dataForm.get('email')?.invalid}">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>

                <div class="col-12 row d-flex justify-content-center my-5">
                    <div class="col-12 text-center">
                        <small class="text-center text-danger">{{errorMsg}}</small>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn submit-btn px-5 py-2">Proceed</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>