<div class="wrapper d-flex  row flex-row justify-content-center gap-4 gap-sm-0 m-0">
    <div class="card overflow-auto col-12 col-sm-10 col-md-6 ">
        <div class="card-content m-3">
            <div class=" row justify-content-center">
                <div class="col-12 col-sm-8  ">
                    <label class="mat-h2 mt-2">Reset Password of <b class="text-highlight">{{selectedTrainer.name}}</b></label>
                    <form class=" mt-1 col-12" [formGroup]="dataForm">

                        <div class="form-group  col-12 ">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
                                formControlName="password"
                                [ngClass]="{'is-invalid': (dataForm.get('password')?.touched && dataForm.get('password')?.invalid) || isShowConfirmPasswordError}">
                            <small id="passwordHelp" class="form-text help-text"></small>
                        </div>
                        <div class="form-group  col-12 mt-3">
                            <label for="password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                aria-describedby="confirmPasswordHelpl" formControlName="confirmPassword"
                                [ngClass]="{'is-invalid': (dataForm.get('confirmPassword')?.touched && dataForm.get('confirmPassword')?.invalid) || isShowConfirmPasswordError}">
                            <small id="confirmPasswordHelp" class="form-text help-text"></small>
                        </div>
                        <p class="help-block text-danger pt-2" *ngIf="isShowConfirmPasswordError">Password and Confirm
                            Password didn't matched.</p>
                    </form>
                </div>

                <div class="row d-flex justify-content-center mt-4 text-center">
                    <div>
                        <button class="btn btn-buy px-4 py-2 " (click)="onResetPassword()">Reset Password</button>
                    </div>

                </div>
            </div>
        </div>
    </div>