<div class="wrapper d-flex overflow-auto m-0">
    <div class="mx-5 mb-5 w-100 d-flex flex-column">
        <span class="text-dark pb-2">Dashboard</span>
        <div class="card bg-white h-auto d-flex w-100 px-5 py-3">
            <div class=" d-flex w-100 h-100 d-flex flex-column p-0 m-0">
                <h1 class="text-dark m-0 mb-2">Overall Course Progress</h1>
                <hr class="col-12 m-0 ">
                <div class="row col-12 m-3 gap-4">
                   
                    <div class="round vr-sessions">
                        <h1 class="p-title p-0 m-0">{{this.dashboardData?.totalTrainers||'-'}}</h1>
                        <h4 class="p-description text-wrap text-center m-0">Total Trainers</h4>
                    </div>
                     <div class="round vr-sessions">
                        <h1 class="p-title p-0 m-0">{{this.dashboardData?.totalTrainees||'-'}}</h1>
                        <h4 class="p-description text-wrap text-center m-0">Total Trainees</h4>
                    </div>
                    <div class="round vr-sessions">
                        <h1 class="p-title p-0 m-0">{{this.dashboardData?.totalVRSessions||'-'}}</h1>
                        <h4 class="p-description text-wrap text-center m-0">VR SESSIONS (Completed)</h4>
                    </div>
                    <div class="round screen-time">
                        <h1 class="p-title p-0 m-0">{{this.dashboardData?((this.dashboardData.totalSessionTimeInSecs/60)
                            | number: '1.0-0'):'-'}}
                        </h1>
                        <h4 class="p-description text-wrap text-center m-0">SCREEN TIME (Mins)</h4>
                    </div>
                </div>
                <div>
                    <h1 class="text-dark m-0 mb-2 mt-2">Module Progress</h1>
                    <hr class="col-12 m-0">
                    <div class="row d-flex flex-row">
                        <div class="cl p-0">
                            <div
                                class="row d-flex flex-row m-2 pr-0  p-5 position-relative d-flex justify-content-between">
                                <div class="col-5 p-0 row d-flex align-items-end mb-3">
                                    <div class="label-data text-dark">
                                        <div class="sub-heading"><b>Overall Progress</b></div>
                                        <div class="text-nowrap col-12 mt-2 d-flex align-items-center">
                                            <span class="first-aid-square m-0">
                                            </span>
                                            <span class="ms-2">Tutorials</span>
                                        </div>
                                        <div class="text-nowrap col-12 mt-1 d-flex align-items-center">
                                            <span class="fire-safety-square m-0">
                                            </span>
                                            <span class="ms-2">Training Simulation</span>
                                        </div>
                                        <div class="text-nowrap col-12 mt-1 d-flex align-items-center">
                                            <span class="uncompleted-square m-0">
                                            </span>
                                            <span class="ms-2">Not Completed</span>
                                        </div>

                                    </div>
                                </div>
                                <div id="chart" class="col-7">
                                    <apx-chart *ngIf="officeChart" [series]="officeChart.series" [chart]="officeChart.chart"
                                        [labels]="officeChart.labels" [fill]="officeChart.fill"
                                        [legend]="officeChart.legend" [colors]="officeChart.colors"
                                        [dataLabels]="officeChart.dataLabels" [responsive]="officeChart.responsive">
                                    </apx-chart>
                                </div>

                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>