.card {
  background: #f4f4f4;
  height: auto !important;
  margin: auto !important;
  border-radius: 1.5rem !important;
  border: none !important;
  min-height: 20rem !important;
}

.card-heading {
  color: #f4f4f4 !important;
}
.wrapper {
  height: calc(100vh - 4rem);
  width: 100%;
  background: #e5e5e5;

}
label {
  color: #9a9a9a;
}

.form-control {
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #bce0fd;
  height: 2.4rem;
}

.help-text {
  color: #b5b5b5;
}

.text-highlight {
  color: #53bad4;
}

.sub-heading {
  color: #9a9a9a;
  font-weight: 500;
}
.para {
  color: #b5b5b5 !important;
}

.btn-buy {
  background: rgb(75, 167, 133);
  background: linear-gradient(
    141deg,
    rgba(75, 167, 133, 1) 0%,
    rgba(84, 188, 223, 1) 100%
  );
  color: #fff;
}
.btn-buy:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

input{
 color: #7e7b7b !important;
}