/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/theming";
body {
  margin: 0 !important;
}

.text-disabled {
  color: #9a9a9a;
}
.pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-submit {
  background: #53bad4;
  color: #fff;
  border-radius: 8px;
}
.btn-success {
  background: #4ca98b;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.text-dark {
  color: #707070 !important;
}
