/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/theming";
body {
  margin: 0 !important;
}

.text-disabled {
  color: #9a9a9a;
}
.pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-submit {
  background: #003764;
  color: #fff;
  border-radius: 8px;
}
.btn-submit:hover {
  color: #fff;
}
.btn-success {
  background: rgb(35, 80, 117);
  background: linear-gradient(
    141deg,
    rgba(35, 80, 117, 1) 0%,
    rgba(35, 80, 117, 1) 100%
  );
  color: #fff;
  border-radius: 8px;
  border: none;
}
.btn-success:hover {
  color: #fff;
}

.text-dark {
  color: #707070 !important;
}


.text-highlight {
  color: #003764;
}
